body {
    background: #d8d4d4d2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto {
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, 0.349);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.185);
}

.box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .cargando {
    width: 40%;
    height: 30px;
    border-radius: 50px;
    background: #d4cdcd;
    box-shadow: inset 5px 5px 12px #afacac,
        inset -5px -5px 10px #dfdcdcdc;
}

.box .cargando .carga {
    height: 30px;
    border-radius: 50px;
    background: linear-gradient(0deg, hsla(15, 20%, 69%, 1) 0%, hsla(12, 23%, 75%, 1) 48%, hsla(13, 37%, 87%, 1) 100%);
    animation: loading 10s forwards cubic-bezier(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.numero-carga {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.349);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.185);
    border-radius: 30px;
    margin-top: -40px;
    margin-left: -35px;
    position: absolute;
    padding: 7px;
}

.carga {
    text-align: right;
}


@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/*Responsive*/

@media (max-width: 720px) {
    .box .cargando {
        width: 80%;
    }
}

